<div class="container">
  <div class="row">
    <div class="panel-group">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h4>Order Details</h4>
        </div>
        <div class="panel-body">
          <table class="table">
            <thead class="black white-text">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Pizza</th>
                <th scope="col">Delivery address</th>
                <th scope="col">Order Time</th>
                <th scope="col">Delivery Time</th>
                <th scope="col">Payable Amount</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of details;  index as i ">
                <td>{{i + 1 }}</td>
                <td>{{item.Name}}</td>
                <td>{{item.Pizza}}</td>
                <td>{{item.Address}}</td>
                <td>{{item.OrderTime | date :"medium"}}</td>
                <td>{{item.DeliveryTime | date: "medium"}}</td>
                <td>{{item.PayableAmount }} Rs</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>